.btn-circle.btn-circle-raised.btn-twitch {
	background-color: #483779;
}

.btn-circle.btn-circle-raised.btn-twitch::before {
	background-color: #302550;
}

.btn-circle.btn-circle-raised.btn-website {
	background-color: #5d5d5d;
}

.btn-circle.btn-circle-raised.btn-website::before {
	background-color: #3d3d3d;
}

.ms-hero-img-team {
	background-image: url(../img/team-bkg.png) !important;
}

.custom-image-left {
	margin-left: 20px;
}

.custom-image-right {
	margin-left: 100px;
}

.aethernet-icon {
    margin-right: 5px !important;
    height: 70px;
}

.aethernet-icon-small {
	height: 40px !important;
}

.ms-hero-img-keyboard {
	background-image: url(../img/aethernet-background.png);
}

.aethernet-special {
	padding-top: 20px;
}

.ms-navbar {
	background-color: #3FA6E2;
}

.ms-header-white+.ms-navbar-primary .navbar-collapse .navbar-nav .nav-item.dropdown .dropdown-menu li .dropdown-item:focus,
.ms-header-white+.ms-navbar-primary .navbar-collapse .navbar-nav .nav-item.dropdown .dropdown-menu li .dropdown-item:hover {
	background-color: #3FA6E2;
}

.btn-circle.btn-circle-primary,
.ms-header .header-right .search-form label {
	color: #3FA6E2;
}

.btn-circle.btn-circle-primary:before,
.ms-header .header-right .search-form label:before {
	background-color: #3FA6E2;
}

.color-primary {
	color: #3FA6E2 !important;
}

.ms-list-arrow li:before {
	background-color: #3FA6E2;
}

.btn.btn-raised.btn-warning, .btn.btn-fab.btn-warning, .btn-group-raised .btn.btn-warning, .input-group-btn .btn.btn-raised.btn-warning, .input-group-btn .btn.btn-fab.btn-warning, .btn-group-raised .input-group-btn .btn.btn-warning {
	background-color: #FF9029; /* orange */	    
}

.btn.btn-raised.btn-primary {
	background-color: #3FA6E2;
}

.ms-icon.ms-icon-inverse {
	color: #3FA6E2;
    border: solid 1px #3FA6E2;
}

#back-top {
	color: #3FA6E2;
	background-color: white;
}

#back-top:hover {
	color: white;
}

#back-top:before {
	color: white;
	background-color: #3FA6E2;
}

.ms-hero-bg-primary:after {
	background-color: rgba(14, 43, 62, 0.85);
}

.btn.btn-raised:not(.btn-link):hover.btn-primary {
	background-color: #006DBC; /* darker-blue */
}

.btn.btn-raised:not(.btn-link):active.btn-primary,
.btn.btn-raised:not(.btn-link):focus.btn-primary {
	background-color: #3FA6E2;
}

.ms-hero-img-keyboard {
    background-image: url(../img/rebrand/kugane.png);
}

.card.card-primary {
	border-bottom: solid 3px #3FA6E2;
}




















