.btn-circle.btn-circle-raised.btn-twitch {
	background-color: #483779;
}

.btn-circle.btn-circle-raised.btn-twitch::before {
	background-color: #302550;
}

.btn-circle.btn-circle-raised.btn-website {
	background-color: #5d5d5d;
}

.btn-circle.btn-circle-raised.btn-website::before {
	background-color: #3d3d3d;
}

.ms-hero-img-team {
	background-image: url(../img/team-bkg.png) !important;
}

.custom-image-left {
	margin-left: 20px;
}

.custom-image-right {
	margin-left: 100px;
}

.aethernet-icon {
    margin-right: 5px !important;
    height: 70px;
}

.aethernet-icon-small {
	height: 40px !important;
}

.ms-hero-img-keyboard {
	background-image: url(../img/aethernet-background.png);
}

.aethernet-special {
	padding-top: 20px;
}

.ms-navbar {
	background-color: #3FA6E2;
}

.ms-header-white+.ms-navbar-primary .navbar-collapse .navbar-nav .nav-item.dropdown .dropdown-menu li .dropdown-item:focus,
.ms-header-white+.ms-navbar-primary .navbar-collapse .navbar-nav .nav-item.dropdown .dropdown-menu li .dropdown-item:hover {
	background-color: #3FA6E2;
}

.btn-circle.btn-circle-primary,
.ms-header .header-right .search-form label {
	color: #3FA6E2;
}

.btn-circle.btn-circle-primary:before,
.ms-header .header-right .search-form label:before {
	background-color: #3FA6E2;
}

.color-primary {
	color: #3FA6E2 !important;
}

.ms-list-arrow li:before {
	background-color: #3FA6E2;
}

.btn.btn-raised.btn-warning, .btn.btn-fab.btn-warning, .btn-group-raised .btn.btn-warning, .input-group-btn .btn.btn-raised.btn-warning, .input-group-btn .btn.btn-fab.btn-warning, .btn-group-raised .input-group-btn .btn.btn-warning {
	background-color: #FF9029; /* orange */
}

.btn.btn-raised.btn-primary {
	background-color: #3FA6E2;
}

.ms-icon.ms-icon-inverse {
	color: #3FA6E2;
    border: solid 1px #3FA6E2;
}

#back-top {
	color: #3FA6E2;
	background-color: white;
}

#back-top:hover {
	color: white;
}

#back-top:before {
	color: white;
	background-color: #3FA6E2;
}

.ms-hero-bg-primary:after {
	background-color: rgba(14, 43, 62, 0.85);
}

.btn.btn-raised:not(.btn-link):hover.btn-primary {
	background-color: #006DBC; /* darker-blue */
}

.btn.btn-raised:not(.btn-link):active.btn-primary,
.btn.btn-raised:not(.btn-link):focus.btn-primary {
	background-color: #3FA6E2;
}

.ms-hero-img-keyboard {
    background-image: url(../img/rebrand/kugane.png);
}

.card.card-primary {
	border-bottom: solid 3px #3FA6E2;
}

.aethernet-spinner {
	width: 60px;
	height: 60px;
	margin: auto;
	text-align: center;
	-webkit-animation: sk-rotate 2.0s infinite linear;
	animation: sk-rotate 2.0s infinite linear;
}

.aethernet-dot1, .aethernet-dot2 {
	width: 60%;
	height: 60%;
	display: inline-block;
	position: absolute;
	top: 0;
	background-color: #3EA5E1;
	border-radius: 100%;
	-webkit-animation: sk-bounce 2.0s infinite ease-in-out;
	animation: sk-bounce 2.0s infinite ease-in-out;
}

.aethernet-dot2 {
	top: auto;
	bottom: 0;
	-webkit-animation-delay: -1.0s;
	animation-delay: -1.0s;
}

.day-selection-container {
	display: flex;
}

.days-container {
	display: flex;
	flex-grow: 1;
	max-width: 80%;
	overflow: hidden;
}

.day {
	flex-grow: 1;
	background-color: #dddddd;
	margin: 0px 2px 0px 2px;
	padding: 5px 5px 5px 10px;
	min-width: 75px;
}

.day.selected {
	background-color: #3FA6E2;
	color: #fefefe;
}

.day-clicker {
	background-color: #ccc;
}

.day-clicker-icon {
	color: #3FA6E2;
	font-size: 30px;
	margin-top: 10px;
	vertical-align: text-top;
}

.day-name {
	font-size: 1.7em;
}

.day-date {
	font-weight: 300;
	margin-top: -5px;
	text-transform: lowercase;
}

.job-image {
	height: 80% !important;
	width: 80% !important;
}

.typed-title {
	height: 200px;
}

.character-images {
	display: none;
}

.schedule-event {
	border-bottom: 1px solid #ddd;
}

.event-time {
	padding: 10px;
	width: 90px;
}

span.schedule-event-time {
	font-size: 1.6em;
}

span.schedule-event-time2 {
	font-weight: 300;
}

.twitch-profile-pic {
	display: none;
	margin-top: 10px;
	margin-left: 10px;
}

.twitch-profile-pic {
	width: 100px;
	height: 100px;
	position: relative;
	overflow: hidden;
	border-radius: 50%;
}

.twitch-profile-pic img {
	display: inline;
	margin: 0 auto;
	margin-left: -25%;
	height: 100%;
	width: auto;
}

.event-description {
	max-width: 275px;
	padding: 10px;
}

.event-description .streamer-name {
	font-size: 1.6em;
	font-weight: 500;
}

.event-description .follow a {
	color: #3FA6E2;
	font-size: 0.9em;
}

.watch-live-link {
	display: flex;
	justify-content: center;
	margin-top: -50px;
	padding-bottom: 20px;
}

.watch-live-link a {
	color: #3FA6E2;
}

/*
 ------------------------------------
 		CSS Media Queries Here
 ------------------------------------
 */
@media (min-width: 576px) {
	.typed-title {
		height: initial;
	}
	.days-container {
		max-width: initial;
		overflow: initial;
	}
	.character-images {
		display: initial;
	}
	.event-description {
		max-width: 432px;
	}
	.twitch-profile-pic {
		display: initial;
	}
}

@media (min-width: 768px) {
	.typed-title {
		height: initial;
	}
	.days-container {
		max-width: initial;
		overflow: initial;
	}
	.character-images {
		display: initial;
	}
	.event-description {
		max-width: 576px;
	}
	.twitch-profile-pic {
		display: initial;
	}
}

@media (min-width: 992px) {
	.typed-title {
		height: initial;
	}
	.days-container {
		max-width: initial;
		overflow: initial;
	}
	.character-images {
		display: initial;
	}
	.event-description {
		max-width: 744px;
	}
	.twitch-profile-pic {
		display: initial;
	}
}

@media (min-width: 1200px) {
	.typed-title {
		height: initial;
	}
	.days-container {
		max-width: initial;
		overflow: initial;
	}
	.character-images {
		display: initial;
	}
	.event-description {
		max-width: 900px;
	}
	.twitch-profile-pic {
		display: initial;
	}
}